## Menjalankan Script

In [2]:
from sklearn.datasets import load_iris
import pandas as pd
from joblib import dump, load
import numpy as np
from automate_Fathir_Maula_S import preprocess_data
 
# Memuat dataset
data = pd.read_csv('../dataset_raw/healthcare-dataset-stroke_raw.csv')
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [ ]:
X_train, X_test, y_train, y_test = preprocess_data(data,'stroke', 'preprocessor_pipeline.joblib', 'label.csv','healthcare-dataset-stroke_preprocessing_automated.csv')

Nama kolom berhasil disimpan ke: label.csv
Data berhasil disimpan ke: healthcare-dataset-stroke_preprocessing_automated.csv

Selain itu, script juga mengembalikan data yg telah dilakukan splitting train test

## Inference

In [3]:
def inference(new_data, load_path):
    # Memuat pipeline preprocessing
    preprocessor = load(load_path)
    print(f"Pipeline preprocessing dimuat dari: {load_path}")
 
    # Transformasi data baru
    transformed_data = preprocessor.transform(new_data)
    return transformed_data

In [4]:
# Jalankan preprocessing
pipeline_path = 'preprocessor_pipeline.joblib'
col = pd.read_csv('label.csv')
# Daftar data
new_data = [1000,"Male",70,0,1,"Yes","Private","Rural",190,20,"smokes"]
 
# Mengubah menjadi numpy.ndarray
new_data = np.array(new_data)
 
new_data = pd.DataFrame([new_data], columns=col.columns)
# Lakukan inference
transformed_data = inference(new_data, pipeline_path)
print("Data baru setelah preprocessing:")
transformed_data

Pipeline preprocessing dimuat dari: preprocessor_pipeline.joblib
Data baru setelah preprocessing:

array([[ 1.18472198,  1.87532269, -1.15626073,  0.        ,  1.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ]])